@tailwind base;
@tailwind components;
@tailwind utilities;

.debug{
  @apply border-2 border-red-300;
}

body{
  @apply transition-colors duration-1000 box-border;
  font-family: 'Inter', sans-serif;
}

.c31-dummy{
  color: #8391a5;
}

.c31-text-nav{
  font-size: 0.9rem;
}

.c31-text-base{
  font-size: 0.9rem;
}

.navbar-fixed {
  /* @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50; */
  @apply fixed z-[9999] bg-white bg-opacity-70 dark:bg-dark dark:bg-opacity-50;
  /* box-shadow: inset 0 -1px 0 0 rgba(0,0,0, 0.1); */
}

.hamburger-line{
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

/* Selector Combinator > */
/* Cari element child bernama 'span' yang merupakan elemen ke 1 */
.hamburger-active > span:nth-child(1){
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2){
  @apply scale-0;
}

.hamburger-active > span:nth-child(3){
  @apply -rotate-45;
}

#dark-toggle:checked ~ label div.toggle-circle{
  @apply translate-x-7;
}

.ft-white{
  filter:  invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.ft-black{
  filter:  invert(0%) sepia(7%) saturate(28%) hue-rotate(234deg) brightness(107%) contrast(106%);
}

.ft-yellow{
  filter: invert(70%) sepia(71%) saturate(688%) hue-rotate(1deg) brightness(105%) contrast(104%);
}

/*! Header Section */


/*! Blog Post Section */
.c31-blog-card-container{
  @apply flex flex-nowrap gap-8 p-8 
  bg-slate-600 rounded-2xl drop-shadow-lg
  snap-x overflow-x-auto;
}

.c31-blog-card{
  @apply relative flex-none max-w-[400px] w-[500px] h-[400px] 
  bg-white rounded-xl shadow-xl
  hover:scale-105 transition-all overflow-hidden snap-center;
}


/*! Misc Section */
.c31-button{
  @apply flex p-1 rounded-full hover:scale-x-105 transition-all;
}

.c31-window-container{
  @apply mx-4 md:mx-auto mt-20 max-w-[650px] 
  bg-black bg-opacity-70 backdrop-blur-xl rounded-lg drop-shadow-lg 
  overflow-hidden;
}

.c31-window-titlebar{
  @apply flex w-full h-[30px] justify-between 
  bg-color-c31-primary;
}

.c31-window-titlebar-title{
  @apply self-center text-white text-sm;
}

.c31-window-titlebar-button{
  @apply flex gap-1 mr-2;
}

.c31-window-titlebar-button-minimize{
  @apply w-3 h-3 self-center  
  bg-color-c31-secondary rounded-full;
}

.c31-window-titlebar-button-maximize{
  @apply w-3 h-3 self-center  
  bg-color-c31-secondary rounded-full;
}


.c31-window-titlebar-button-close{
  @apply self-center rounded-full w-3 h-3 bg-red-600;
}


.c31-back-to-top{
  @apply flex fixed justify-center right-4 h-10 w-10 items-center z-[9999]
  bg-primary border-2 border-white rounded-md 
  hover:-translate-y-1 duration-300 ease-in-out;
}

/*! Text Section */
.c31-window-content-font{
  @apply text-slate-300 font-mono text-sm;
}

